
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.menu-bar{
    background-color: rgb(230, 193, 193);
    text-align: center;
}

.menu-bar ul{
    display: flex;
    justify-content: center;
}
.menu-bar ul li{
    list-style-type:none;
    margin: 15px;    
    padding: 15px;
    width: 120px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.active, .menu-bar ul li:hover{
    background: rgb(85, 39, 39);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}
.menu-bar .fa{
    margin-right: 8px;
}